@using IPDetectServer.Web;
@{
    var hello = "您好";
    var singOut = "退  出";

    var fullName = SessionManager.User == null ? String.Empty : SessionManager.User.Name;
}

<div class="header_logo">
<div style="color : #0366D6;font-size: 22px;font-weight:bold;">IP监测后台管理系统</div>
</div>
<div class="header-sub">
    @if (SessionManager.IsLogin)
    {
        @Html.Raw(@hello + ",&nbsp;" + fullName)      
        @Html.Raw("&nbsp; | &nbsp;")
        @Html.ActionLink(singOut, "Index", new { controller = "Home" }) 
    }        
</div>