@model IPDetectServer.Web.Models.UserViewModel
@{
    ViewBag.Title = "我的基本信息";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var strValidationSummary = string.Empty;
    var validationSummary = Html.ValidationSummary("", new { @class = "nolist" });
    if (validationSummary != null)
    {
        strValidationSummary = validationSummary.ToString();
    }
}
<ul>
    <li class="content-title">&nbsp;&nbsp;我的基本信息</li>
    <li>&nbsp;&nbsp;登录账号：@Model.LoginName
    </li>
    <li>&nbsp;&nbsp;真实姓名：@Model.Name
    </li>
    <li>&nbsp;&nbsp;地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;市：@Model.City
    </li>
    <li>&nbsp;&nbsp;联系电话：@Model.Phone
    </li>
    <li>&nbsp;&nbsp;账号类型：@Model.UserTypeForDisplay
    </li>
    <li>&nbsp;&nbsp;备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：@Model.Description
    </li>
</ul>
