<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="DataEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=113.207.127.15;port=3306;user id=root;password='Wdjxs_!F6zjnhtD&amp;O3';persist security info=True;database=ipmonitordb;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <!--中心服务器的服务URL,可以用dns 或 ip, 比如: http://ipmonitor.iwangding.com -->
    <!--<add key="CenterServerBaseUrl" value="http://58.17.163.123/ipmonitor" />-->
    <add key="CenterServerBaseUrl" value="http://localhost:1885" />

    <add key="ISPGroup" value="联通|网通,移动|铁通" />
    <add key="CurrentProvince" value="重庆市" />
    <add key="Cities" value="万州区，涪陵区，渝中区，大渡口区，江北区，沙坪坝区，九龙坡区，南岸区，北碚区，万盛区，双桥区，渝北区，巴南区，黔江区，长寿区，江津区，合川区，永川区，南川区，綦江县，潼南县，铜梁县，大足县，荣昌县，璧山县，梁平县，城口县，丰都县，垫江县，武隆县，忠县，开县，云阳县，奉节县，巫山县，巫溪县，石柱县，秀山县，酉阳县，彭水苗族县，开发区" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />  
  </appSettings>

  <system.web>
	  <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <trust level="Full" />
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Index" timeout="2880" defaultUrl="~/Home/Index" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
	<sessionState mode="InProc" customProvider="DefaultSessionProvider">
		<providers>
		<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</providers>
	</sessionState>
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </httpHandlers>
  </system.web>
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"    type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <log4net debug="true">
    <appender name="ServerLog" type="log4net.Appender.RollingFileAppender">
      <param name="StaticLogFileName" value="false"/>
      <param name="File" value="d:\\IPMonitorLog\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="yyyy-MM-dd'.log'"/>
      <param name="MaximumFileSize" value="10MB"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="FATAL"/>
      </filter>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ServerLog"/>
    </root>
  </log4net>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="24"/>
    </connectionManagement>
  </system.net>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />    
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
