@model IPDetectServer.Models.LoginRequest
@{
    ViewBag.Title = "登录";
    var strValidationSummary = string.Empty;
    var validationSummary = Html.ValidationSummary("", new { @class = "nolist" });
    if (validationSummary != null)
    {
        strValidationSummary = validationSummary.ToString();
    }
}
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<div class="admin-main">
@using (Html.BeginForm())
{        
    <table class="admin-login" border="0" cellspacing="0" cellpadding="0">
        <tr>
        <td rowspan="10" class="admin-login-center">
            <span class="login_left_bluebold">继续</span><span class="login_left_font">, 请输入您的 </span><span class="login_left_bluebold">用户名</span> 和 <span class="login_left_bluebold">密码</span><br /><br /><span class="login_left_font">登录IP监测后台管理系统.</span>   
        </td>
        <td class="admin-login-right">     
        <p>&nbsp;</p> 
            <dl>
                <dt class="login_right_logintitle">
                    登&nbsp;&nbsp;&nbsp;&nbsp;录
                </dt>
                <dt class="admin-login-msg">
                 @Html.Raw(strValidationSummary)
                </dt>
                <dt class="admin-login-lab">
                    用户名:
                </dt>
                <dd class="admin-login-box">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "mobile-form-text-box" })
                </dd>
                <dd class="admin-login-tip">
                    @*@Html.ValidationMessageFor(m => m.UserName, "User Name is required.")*@
                </dd>
                <dt class="admin-login-lab">
                    密&nbsp;&nbsp;&nbsp;&nbsp;码:
                </dt>
                <dd class="admin-login-box">
                    @Html.PasswordFor(m => m.Password, new { @class = "mobile-form-text-box" })
                </dd>
                <dd class="admin-login-tip">  
                    <div style="margin-top:8px;">                 
                         @*@Html.ValidationMessageFor(m => m.Password, "Password is required.")*@
                    </div>
                </dd>                
                <dd class="admin-login-btn" style="margin-top:10px;">
                    <input type="submit" name="Login" id="btnLogin" value="&nbsp;登&nbsp;&nbsp;&nbsp;录&nbsp;" class="admin-login-btn"/>
                </dd>    
            </dl>
        </td>
        <td>&nbsp;
        </td>
        </tr>
    </table>  
}
</div>
